---
import Layout from "../layouts/Layout.astro";
import Producto2 from "../components/Producto2";
import frutosSecos from "../data/frutos-secos.json";
import frutas from "../data/frutasD.json";
import dulces from "../data/dulces.json"
import condimentosEspecias from "../data/condimentosEspecias.json"
import hierbasTe from "../data/hierbasTe.json"
import ProductPagination from "../components/Paginacion";

export function getStaticPaths() {
  return [
    { params: { tipo: "Frutos Secos" } },
    { params: { tipo: "Frutas Deshidratadas" } },
    { params: { tipo: "Dulces" } },
    { params: { tipo: "Condimentos y Especias" } },
    { params: { tipo: "Hierbas y Tes" } },
  ];
}

const { tipo } = Astro.params;

let imagen;
let productos;
switch (tipo) {
  case "Frutos Secos":
    imagen = "/images/banners/bannerFrutosS.png";
    productos = frutosSecos;
    break;
  case "Frutas Deshidratadas":
    imagen = "/images/banners/bannerFD.png";
    productos = frutas;
    break;
  case "Dulces":
    imagen = "/images/banners/bannerDul.png";
    productos = dulces;
    break;
  case "Condimentos y Especias":
    imagen = "/images/banners/bannerCondi.png";
    productos=condimentosEspecias;
    break;
  case "Hierbas y Tes":
    imagen = "/images/banners/bannerHier.png";
    productos=hierbasTe;
    break;
}
---

<Layout>
  <slot name="content">
    <div id="containerBanner">
      <a href="#"> <img src={imagen} alt="" /></a>
    </div>
    <div
      class="xl:w-full 2xl:w-3/4 grid md:grid-cols-2 md:gap-4 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 xl:gap-4 mt-4 mb-4 mx-auto justify-center items-center lg:pl-7 md:pl-14 sm:pl-3 sm:pr-3 md:w-full"
    >
      {productos.map((product) => <Producto2 product={product} tipo={tipo}/>)}
    </div>
    <div class="justify-center items-center flex">
      <ProductPagination totalProducts={productos.length} />
    </div>
    
   
  </slot>
</Layout>

<style>
  #containerBanner {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  #containerBanner img {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
</style>
