---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="mx-4 py-16 flex flex-wrap gap-8 items-center justify-center">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure>
        <img src="/images/condiciones.png" alt="Imagen" class="w-40 h-40" />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-2xl text-yellow-700">
          Condiciones de Envío
        </h2>
        <p class="text-lg text-gray-400">
          Realizamos envíos de productos de frutos secos a diferentes regiones.
          Por favor, tenga en cuenta las siguientes condiciones para nuestros
          envíos:
        </p>
        <ul class="list-disc list-inside pl-4 text-gray-400">
          <li class="mb-2">
            Los envíos se realizan únicamente de región a región.
          </li>
          <li class="mb-2">
            El monto mínimo para realizar un envío es de $30.000.
          </li>
        </ul>
      </div>
    </div>

    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="/images/comp.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title text-2xl text-yellow-700">Compañías de Transporte</h2>
        <p class="text-base text-gray-400">Trabajamos con las siguientes compañías de transporte para asegurar
          que sus productos lleguen de manera segura y puntual:</p>
          <ul class="list-disc text-base list-inside pl-4 text-gray-400">
            <li class="mb-2">Starken</li>
            <li class="mb-2">Varmontt</li>
            <li class="mb-2">Chevalier</li>
            <li class="mb-2">Pullman Cargo</li>
          </ul>
        
      </div>
    </div>

    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="/images/proceso2.jpg" alt="Image" /></figure>
      <div class="card-body">
        <h2 class="card-title text-2xl text-yellow-700">Proceso de Envío</h2>
        <p class="text-base text-gray-400"> Una vez que su pedido ha sido procesado y empaquetado, será enviado a
          través de una de las compañías mencionadas anteriormente. Recibirá la
          boleta del envió para monitorear el estado de su envío.</p>
          
      </div>
    </div>

    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="/images/contacto2.png" alt="Image" /></figure>
      <div class="card-body">
        <h2 class="card-title text-2xl text-yellow-700">Contacto</h2>
        <p class="text-base text-gray-400">
          Si tiene alguna pregunta sobre los envíos, no dude en ponerse en
          contacto con nosotros a través de nuestro <a
            href="/contacto"
            class="text-amber-700">formulario de contacto</a
          > o a nuestro <a class="text-amber-700" href="#">WhatsApp</a> .
        </p>
          
      </div>
    </div>

  </section>
</Layout>
