---
import Carrusel from "../components/Carrusel.astro";
import ProductosMasVendidos from "../components/ProductosMasVendidos";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/mani.svg" />
    <title>El Manicero Lucas</title>
  </head>
  <body>
    <Layout>
      <div class="flex-grow justify-center mx-auto">
        <Carrusel />
      </div>
      <div class="container mx-auto px-4">
        <h1
          class="text-center text-3xl uppercase text-yellow-600 font-bold my-4"
        >
          Tienda de Frutos Secos al Por Mayor
        </h1>
        <div class="border-b border-slate-500 h-4"></div>
        <h2
          class="h2 text-center text-2xl uppercase text-yellow-600 font-bold my-4"
        >
          Productos Mas Vendidos
        </h2>
        <ProductosMasVendidos client:load />
      </div>
      <div class="border-b border-slate-500 h-4 px-4"></div>
      <div class="flex flex-col md:flex-row justify-center items-center h-auto mb-4 pt-2 gap-4">
        <Card imageSrc="/images/carrito2.png" title="+100 Productos" />
        <Card imageSrc="/images/camion.png" title="Envios a domicilio" />
        <Card imageSrc="/images/precio.png" title="Mejores Precios" />
      </div>
    </Layout>
  </body>
</html>

<style is:global>
  p,li,a,span {
    font-family: "Convergence", sans-serif;
  }
  h1{
    font-family: "Lilita One", sans-serif;
  }
  h2{
    font-family: "Lexend",sans-serif;
  }
</style>
