---

  
---

<div id="default-carousel" class="relative w-full mt-2 mx-0" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="duration-700 ease-in-out" data-carousel-item>
        <img
          src="/images/carrusel/carrusel1.jpg"
          class="absolute block w-full h-full object-cover top-0 left-0"
          alt="imagen"
        />
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="/images/carrusel/carrusel2.jpg"
          class="absolute block w-full h-full object-cover top-0 left-0"
          alt="imagen"
        />
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="/images/carrusel/carrusel3.jpg"
          class="absolute block w-full h-full object-cover top-0 left-0"
          alt="imagen"
        />
      </div>
    </div>
  
   
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
    let currentSlide = 0;
    const slides = document.querySelectorAll('[data-carousel-item]');
    
    function showSlide(index) {
      slides.forEach((slide, i) => {
        if (i === index) {
          slide.classList.remove('hidden');
        } else {
          slide.classList.add('hidden');
        }
      });
    }
    
    function nextSlide() {
      currentSlide = (currentSlide + 1) % slides.length;
      showSlide(currentSlide);
    }
    
    setInterval(nextSlide, 5000); // Change slide every 5 seconds (5000 milliseconds)
  });
</script>