---

---

<footer class="bg-slate-300 py-4">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="text-white font-semibold">
                <p>© 2024 El Manicero Lucas. Todos los derechos reservados.</p>
                <p>Diseñado y desarrollado por<a href="#" class="text-yellow-600 hover:text-yellow-500"> Felipe Muñoz V.</a></p>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="#" class="text-gray-400 font-bold hover:cursor-pointer hover:text-white">Frutos Secos</a></li>
                    <li><a href="#" class="text-gray-400 font-bold hover:cursor-pointer hover:text-white">Frutas Deshidratadas</a></li>
                    <li><a href="#" class="text-gray-400 font-bold hover:cursor-pointer hover:text-white">Dulces</a></li>
                    <li><a href="#" class="text-gray-400 font-bold hover:cursor-pointer hover:text-white">Condimentos</a></li>
                    <li><a href="#" class="text-gray-400 font-bold hover:cursor-pointer hover:text-white">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
