---

---

<footer class="bg-orange-50 py-4">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="text-yellow-600 font-semibold">
                <p>© 2024 El Manicero Lucas. Todos los derechos reservados.</p>
                <p>Diseñado y desarrollado por<a href="#" class="text-yellow-700 hover:text-yellow-900"> Felipe Muñoz V.</a></p>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="#" class="text-yellow-600 font-bold hover:cursor-pointer hover:text-yellow-700">Frutos Secos</a></li>
                    <li><a href="#" class="text-yellow-600 font-bold hover:cursor-pointer hover:text-yellow-700">Frutas Deshidratadas</a></li>
                    <li><a href="#" class="text-yellow-600 font-bold hover:cursor-pointer hover:text-yellow-700">Dulces</a></li>
                    <li><a href="#" class="text-yellow-600 font-bold hover:cursor-pointer hover:text-yellow-700">Condimentos</a></li>
                    <li><a href="#" class="text-yellow-600 font-bold hover:cursor-pointer hover:text-yellow-700">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
