---
import Dropdown from "./Dropdown.astro"
---


<div class="md:hidden flex justify-between items-center fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
    <img src="/images/logo7.jpeg" class="w-60 mt-2" alt="Logo" >
    <img src="/images/whatsapp.png" alt="" class="h-6 my-auto">
    <details class="dropdown dropdown-bottom dropdown-end mr-2 mt-1">
        <summary class="btn mb-1"><img src="/images/menu2.png" alt="" class="h-5" /></summary>
        <ul
          class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 text-gray-400"
        >
          <li class="hover:text-yellow-600 "><a href="/" class="flex justify-end">Inicio</a></li>
          <li class="hover:text-yellow-600"><Dropdown /></li>
          <li class="hover:text-yellow-600"><a href="/nosotros" class="flex justify-end">Nosotros</a></li>
          <li class="hover:text-yellow-600"><a href="/envios" class="flex justify-end">Envios</a></li>
          <li class="hover:text-yellow-600"><a href="/contacto" class="flex justify-end">Contacto</a></li>
        </ul>
      </details>
</div>
