---
import Productos from "./LinkProductos"
const link="hover:bg-violet-800 mr-10 px-3 py-3 rounded-lg"

---
<div class="pt-3 flex">
    <a href="/"><img src="/images/logo.png" alt="Logo" class="h-30 w-auto"></a>
    <div class="ml-auto mr-80">
        <p class="text-violet-800 font-bold">Consultas</p>
        <a href=#><p class="text-violet-600 font-semibold">+569</p></a>
        
        
    
    </div>
    <div class="mr-40">
        <p class="font-bold text-violet-800">Visita nuestra tienda en</p>
        <p class="font-semibold text-violet-600">
            Pasaje Rosas 842
        </p>
    </div>
    
</div>
<nav class="bg-teal-400 mt-2">
    <div class="pt-2 pb-2 items-center flex space-x-5 justify-center font-bold uppercase tracking-wide text-white">
        <a href="/" class="hover:bg-violet-800 mr-1 px-2 py-3 rounded-lg">Inicio</a>
        <div class="border-r border-white h-6"></div>
        <Productos client:load/>
        <div class="border-r border-white h-6"></div>
        <a href="/a" class={link}>Nosotros</a>
        <div class="border-r border-white h-6"></div>
        <a href="/" class={link}>Precios</a>
        <div class="border-r border-white h-6"></div>
        <a href="/" class={link}>Contacto</a>
    </div>
</nav>