---
import Productos from "./LinkProductos";
import Dropdown from "./Dropdown.astro";
const link = "hover:cursor-pointer mr-10 px-3 py-3 rounded-lg";
---

<nav class="hidden md:block">
  <div
    class="px-2 mb-auto items-center flex space-x-5 justify-center font-bold uppercase tracking-wide text-gray-400 md:space-x-2"
  >
    <a href="/" class="hover:cursor-pointer mr-1 px-2 py-3 rounded-lg">Inicio</a
    >
    <div class="border-r border-yellow-600 h-6"></div>
    <Productos client:load />
    <div class="border-r border-yellow-600 h-6"></div>
    <a href="/nosotros" class={link}>Nosotros</a>
    <div class="border-r border-yellow-600 h-6"></div>
    <a href="/envios" class={link}>Envios</a>
    <div class="border-r border-yellow-600 h-6"></div>
    
    <a href="/contacto" class={link}>Contacto</a>
  </div>
</nav>


