---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="icon" type="image/svg+xml" href="/mani.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El manicero Lucas</title>
  </head>
  <body class="bg-white">
    <div class="flex flex-col min-h-screen">
      <Header/>
      <Navbar />

      <div class="flex-grow">
        <slot />
      </div>

      <Footer />
    </div>
  </body>
</html>


